.footer {
    background-color: #BF9C34;
    color: black;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
}
